body {
	height: 100vh;
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
	position: relative;
}
.paddle{
	width: 150px;
	height: 150px;
	padding: 10px;
	background: black;
}
#paddle1 {
	width: 100px;
	height: 10px;
	font-size: 2em;
	position: absolute;
	padding-top: 10px;
	line-height: 1;
}
#paddle2 {
	width: 100px;
	height: 10px;
	font-size: 2em;
	position: absolute;
	padding-top: 10px;
	line-height: 1;
}
.track{
	width:100%;
	height: 25px;
	position: relative;
	overflow: hidden;
}
#track2 {
	position: absolute;
	bottom:10px;
}
