body {
  font-family: 'Arial';
  color: white;
  padding:0;
  margin:0;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
}
.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  justify-content: center;
}
#welcome {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}
#play-btn {
  cursor: pointer;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  background: black;
  font-size: 20px;
  letter-spacing: 5px;
}
#playerOneScore {
  position: absolute;
  top: 20px;
  left: 20px;
}
#playerTwoScore {
  position: absolute;
  top: 20px;
  right: 20px;
}
.volume {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  margin: 0 auto;
  left: 40%;
  right: 40%;
  text-align: center;
}
.volume span {
  font-size: 12px;
  display: none;
  padding-right: 5px;
}
.volume:hover span {
  display: inline-block;
}
#volume-off {
  display: none;
}

@media only screen and (max-width: 500px) {
  .volume span {
    display: none;
  }
}
