body {
  font-family: 'Arial';
  color: white;
  padding:0;
  margin:0;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
}
.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  justify-content: center;
}
#welcome, #game-lvls {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}
.modal h1, .modal h3 {
  color: black;
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
}
#game-lvls {
  display: none;
  top: 32%;
}
.btn {
  cursor: pointer;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  margin: 5px auto;
  background: black;
  font-size: 15px;
  letter-spacing: 5px;
  transition: background .3s ease;
  border-radius: 4px;
}
.btn:hover {
  background: red;
}
.btn.level {
  display: block;
}
#playerOneScore {
  position: absolute;
  top: 20px;
  left: 20px;
}
#playerTwoScore {
  position: absolute;
  top: 20px;
  right: 20px;
}
.volume {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  margin: 0 auto;
  left: 40%;
  right: 40%;
  text-align: center;
}
.volume span {
  font-size: 12px;
  display: none;
  padding-right: 5px;
}
.volume:hover span {
  display: inline-block;
}
#volume-off {
  display: none;
}

/* PORTRAIT STYLE ADJUSTMENTS */
.portrait #playerOneScore {
  top: 30px;
}
.portrait #playerTwoScore {
  top:auto;
  bottom: 30px;
  left: 20px;
}
.portrait .volume {
  right: 20px;
  bottom: 30px;
  left: auto;
}
.portrait .volume span {
  display: none;
}
